body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #b17cc2;
    color: rgb(245, 183, 183);
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    background: #d58df6;
    text-align: center;
}

nav ul li {
    display: inline;
    padding: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#blog {
    width: 80%;
    margin: 20px auto;
}

article {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px;
    background: #4b0a96;
    color: white;
}
.photo-container {
    background-image: url('images/IMG_8478.jpg');
    background-size: cover;
    height: 900px;
    width: 100%;
}
